<launch>
	<node pkg="Simulator" type="environment_msg" name="environment" args="7"/>
	<node pkg="Simulator" type="cell_msg" name="cell0"/>
	<node pkg="Simulator" type="cell_msg" name="cell1"/>
	<node pkg="Simulator" type="cell_msg" name="cell2"/>
	<node pkg="Simulator" type="cell_msg" name="cell3"/>
	<node pkg="Simulator" type="cell_msg" name="cell4"/>
	<node pkg="Simulator" type="cell_msg" name="cell5"/>
	<node pkg="Simulator" type="cell_msg" name="cell6"/>
</launch>